<div class = "container">
	<h1>Dashboard#home</h1>
	<%= form_tag("/dashboard/search", method: "post") do %>
	<%= label_tag(:q, "Search for:") %>
	<%= text_field_tag(:q) %>
	<%= submit_tag("Search") %>
	<% end %>
</div>
