<div class = "container">
	<div class = "row">
		<h1>Playing with Octokit</h1>
		<%= form_tag("/dashboard/search", method: "post") do %>
		<%= label_tag(:q, "Enter github username:") %>
		<%= text_field_tag(:q) %>
		<%= submit_tag("Search") %>
		<% end %>
	</div>
</div>
