<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">easyMetrics © Tomas Jančauskas, 2014</p>
        <a href="/static_pages/home" class="navbar-btn btn btn-success pull-right">Home</a>
    </div>
</div>
