<%= render "nav" %>
<div class="container theme-showcase" role="main">
	<div class="page-header center" style="text-align: center;">
    	<h1>Our logo</h1>
    </div>
    <img class="img-circle img-responsive" style="display : block; margin : auto;" src="http://placehold.it/200x200">
</div>
